$primary-color: #2C6DDF;
$primary-color-hover: #1450b8;
$text-primary-color-hover: #2C6DDF;

$secondary-color: #FCA149;
$secondary-color-hover: #ED7B0E;

$text-light: #F8F9FA;
$text-dark: #495057;
$text-dark-medium: #4C5B73;

$bg-navbar:  #606E84;
$bg-sidebar:  #152D57;

$sidebar-width: 155px;
$navbar-height: 60px;
$page-content-padding: 2rem;

$text-error-color: #b00020;

$bg-btn-form: #A9D3F6;
$text-btn-form: #152D57;
$bg-btn-form-hover: #8FC2EE;

$btn-fileupload-hover: #788ba8;